<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="leopard\log\internal-nlog-app.txt"
      throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="leopard\log\nlog-app-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" encoding="Unicode" writeBom="true" />
    
    <!-- File Target for all log messages with errors -->
    <target xsi:type="File" name="errorfile" fileName="leopard\log\nlog-app-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" encoding="Unicode" writeBom="true" />
    
    <!-- File Target for all log messages with info -->
    <target xsi:type="File" name="infofile" fileName="leopard\log\nlog-app-info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" encoding="Unicode" writeBom="true" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Warn" maxlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="info" maxlevel="info" writeTo="infofile" />

  </rules>
</nlog>